body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-around;

}

section {
    border: 1px solid black;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

