body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-around;
    background-color: rgb(241, 38, 38);

}

section {
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

h1 {
    margin: 0;
}

.pokemons-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}

.pokemons-list img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.pokemon-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    background-color: rgb(61, 60, 60);
    color: white;
    align-content: center;
    width: 30em;
    padding-left: 1em;
    padding-right: 1em;

}

.pokemon-list-container:hover {
    scale: 1.05;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.pokemon-list-text {
    display: flex;
    gap: 1em;
    font-weight: bold;
}

.pokemon-infos {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;

    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(61, 60, 60);
}

.pokemon-infos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: white;
    height: 100%;
    width: 100%;
}

.pokemon-info-text {
    margin-top: 1em;
}

.pokemon-info-text img {
    width: 400px;
    height: 400px;
}

.pokemon-info-types {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: black;
    border-radius: 1em;
    gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.pokemon-info-types p {
    margin-top: 1em;
}

.pokemon-info-types img {
    width: 80px;
    height: 80px;
}

.pokemon-info-types-img {
    padding-bottom: 1em;
}

.pokemon-infos-div {
    border: white solid;
    border-radius: 1em;
    background: lightslategray;
}

.pokemon-info-evo {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: black;
    border-radius: 1em;
    margin: 1em;

}

.pokemon-info-evo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(61, 60, 60);
    margin: 1em;
    cursor: pointer;
}


.pokemon-info-evo-text {
    display: flex;
    gap: 1em;
    justify-content: center;

}

.pokemon-info-evo-img img {
    width: 50px;
    height: 50px;
}
